services:
  jake-blog:
    restart: unless-stopped
    image: {{ registry | trim }}/{{ repository | trim }}:{{ image_tag | trim }}
    network_mode: host
    env_file:
      - .env
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    logging:
      driver: "journald"
      options:
        tag: "jakeblog-app"

