[Unit]
Description=JakeBlog HTTP Socket (port 80)
PartOf=jakeblog.service

[Socket]
ListenStream=80
NoDelay=true
SocketUser=root
SocketGroup=root
SocketMode=0666

[Install]
WantedBy=sockets.target
