[Unit]
Description=JakeBlog HTTPS Socket (port 443)
PartOf=jakeblog.service

[Socket]
ListenStream=443
NoDelay=true
SocketUser=root
SocketGroup=root
SocketMode=0666

[Install]
WantedBy=sockets.target
